{% extends 'base.html' %}


{% block content%}
<h1> Cheese Gallery </h1>
<img src="/static/img/cheeselogo.png"  width="250" height="150"; style="vertical-align:middle;margin:0px 550px">
<h2> Experience the art of cheese </h2>
    <ul>
        <li><a href='/cheese/Fresh Cheese Types'>Fresh</a></li>
        <li><a href='/cheese/Soft White Rind Cheese Types'>Soft White Rind</a></li>
        <li><a href='/cheese/Hard Cheese Types'>Hard</a></li>
        <li><a href='/cheese/Blue Cheese Types'>Blue</a></li>
    </ul>
{% endblock %}